<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css"> 
</head>
<body>
    <div class="container" >
        <h4 class="heading"id="fact"></h4>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: 'http://numbersapi.com/1/30/date?json',
                method: 'GET',
                success: function(response) {
                    console.log(response); // Do something with the response
                    // Update the content of the element with ID 'fact'
                    $('#fact').text(response.text);
                },
                error: function(error) {
                    console.error('Error fetching data:', error);
                }
            });
        });
    </script>
</body>
</html>
