/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#F0E5CF;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
    font-family: Rubik Bubbles;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}
